$screen-largest: 75em; // 1200px
$screen-1100px: 68.75em; // 1100px
$screen-larger: 56.25em; // 900px
$screen-800px: 50em; // 800px
$screen-730px: 45.625em; // 730px
$screen-large: 37.5em; // 600px
$screen-medium: 31.25em; // 500px
$screen-small: 25em; // 400px
$screen-smaller: 20.3125em; // 325px